
* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

div {
    position: absolute;
    /*border: 1px solid #000000;*/
}

#vex-builder {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
}

#vex-nav {
    height: 50px;
    width: 100%;
    margin-left: 0;
    top: 0;
}

#vex-component, #vex-toolbar, #vex-page, #vex-left-top-project-list {
    border: 1px solid #000000;
    top: 50px;
    bottom: 0;
}

#vex-component, #vex-left-top-project-list {
    width: 300px;
}

#vex-left-top-project-list {
    height: 300px;
    left: 0;
}

#vex-component {
    top: 350px;
    left: 0;
    overflow: auto;
}

#vex-toolbar {
    width: 360px;
    right: 0;
    overflow: scroll;
}

#vex-toolbar div {
    position: relative;

}

#vex-page {
    left: 300px;
    right: 360px;
}

.component img, .component p {
    position: fixed;
    width: 150px;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #eaeaea;
}

#select-box {
    border: 2px solid #19b3cd;
}

#drag-list-container {
    list-style: none;
    padding: 0px;
}

#drag-list-container > li {
    display: inline-block;
    margin-right: 2px;
    padding: 10px 15px;
    cursor: move;
    color: white;
    border: 1px solid black;
    width: 120px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    text-shadow: 0px 1px 1px black;
}

#drag-list-container > li i {
    font-size: 40px;
    margin-bottom: 10px;
    /* color: rgb(0, 187, 255); */
}

#drag-list-container > li p {
    margin: 0px;
}

#drag-list-container > li img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

#drag-content {
    cursor: move;
}

.undo-container {
    margin: 40px 0;
}
.undo-redo {
    display: inline-block;
    color: rgb(0, 0, 0);
    /* text-decoration: none; */
    size: 40px;

}
.undo-redo:hover {
    background: #ccc;
  }

.undo-redo.disable {
    background: rgba(238, 238, 238, 0.493);
    color: #aaa;
    pointer-events: none;
}