
* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

/*div{*/
/*    position: absolute;*/
/*    !*border: 1px solid #000000;*!*/
/*}*/


#vex-component, #vex-toolbar, #vex-page, #vex-left-top-project-list, #vex-page div, #vex-nav-tool {
    position: absolute;
    /*border: 1px solid #000000;*/
}

#vex-builder {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
}

#vex-nav {
    height: 80px;
    width: 100%;
    margin-left: 0;
    top: 0;
}

#vex-nav .container-fluid {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 100px;
}

#vex-component, #vex-toolbar, #vex-left-top-project-list {
    border: 1px solid #ddd;
    top: 80px;
    bottom: 0;
}

#vex-left-top-project-list {
    top: 120px;
}

#vex-nav-tool {
    height: 40px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;;
}

#vex-page {
    border: 1px solid #ddd;
    top: 120px;
    bottom: 0;
}

#vex-component, #vex-left-top-project-list {
    width: 300px;
}

#vex-left-top-project-list {
    height: 230px;
    left: 0;
    overflow: auto;
    /*background-color: #fafbfc;*/
}

#vex-component {
    top: 390px;
    left: 0;
    overflow: auto;
}

#vex-component .search, #vex-left-top-project-list .search {
    position: -webkit-sticky;
    position: sticky;
    top: 0px
}

#vex-toolbar {
    /*background-color: #fafbfc;*/
    width: 360px;
    right: 0;
    overflow: scroll;
}

#vex-toolbar div {
    position: relative;

}

#vex-page, #vex-nav-tool {
    left: 300px;
    right: 360px;

}

#vex-page iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.component img, .component p {
    position: fixed;
    width: 150px;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #eaeaea;
}

#select-box {
    border: 2px solid #19b3cd;
}

#drag-list-container {

    list-style: none;
    padding: 3%;
    height: 100%;
    /*background-color: #fafbfc;*/
}

#drag-list-container > li {
    display: inline-block;
    margin: 4px;
    padding: 10px 15px;
    cursor: move;
    color: white;
    border: 1px solid black;
    width: 120px;
    background-color: rgb(255, 255, 255);
    text-shadow: 0px 1px 1px black;
    text-align: center;
    border-radius: 10px;
    border-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
}

#drag-list-container > li:hover {
    background-color: #ebf1fb;
}

#product-list li {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;

}

.product-list-btn {
    border: none;
    background: none;
    -webkit-appearance: none;
}

#product-list li:hover {
    background-color: #ebf1fb;
}

#product-list li a:hover {
    cursor: pointer;
}

#product-list .disabled {
    color: gray;
    cursor: no-drop;
}

.clear-backspace {
    position: absolute;
    top: 2px;
    right: 5px;
    border: none;
    background: none;
    opacity: 0.8;

}


#drag-list-container > li i {
    font-size: 40px;
    margin-bottom: 10px;

    /* color: rgb(0, 187, 255); */
}

#drag-list-container > li p {
    margin: 0px;
    color: rgb(51, 51, 51);
    font-size: 15px;
    line-height: 18px;
    font-family: Arial, serif;
    font-weight: 100;

}

#drag-list-container > li img {
    width: 50px;
    height: 50px;

}

#drag-content {
    cursor: move;
}

.undo-container {
    position: relative;
    margin: 40px 0;
}

.undo-redo {
    display: inline-block;
    color: rgb(0, 0, 0);
    /* text-decoration: none; */
    size: 40px;
}

.undo-redo:hover {
    background: #ccc;
}

.undo-redo.disable {
    background: rgba(238, 238, 238, 0.493);
    color: #aaa;
    pointer-events: none;
}

.tab-class {
    width: 50%;
}

.tab-item-class {
    text-align: center;
}

.element-style input {
    -webkit-backface-visibility: hidden;
}

#select-actions {
    position: absolute;
    left: -2px;
    top: -25px;
    width: 107px;
    background: #4285f4;
    color: #fff;
    padding: 0px 0px;
    border-radius: 3px 0px 0px 0px;
}

#select-editor {
    position: absolute;
    left: -2px;
    top: -25px;
    width: 63px;
    background: #4285f4;
    color: #fff;
    padding: 0px 0px;
    border-radius: 3px 3px 0px 0px;
}

#select-tag-name {
    position: absolute;
    left: 105px;
    top: -25px;
    background: #4285f4;
    color: #fff;
    padding: 0px 5px;
    border-radius: 0px 3px 0px 0px;
}

#select-actions > a, #select-editor > a {
    pointer-events: auto;
    color: #fff;
    font-size: 16px;
    padding-right: 2px;
    padding: 2px 5px;
}

#template-list > li {
    display: inline-grid;
    margin: 13px 13px;
}

/* For Edge */
@supports (-ms-ime-align:auto) {
    #template-list > li {
        display: inline-grid;
    }
}

#template-list > li > .highlight {
    background-color: #4285f4;
}

#template-list > li > img {
    display: inline-block;
    margin: 1px;
    padding: 1px;
    cursor: default;
    color: white;
    border: 1px solid black;

    background-color: rgb(255, 255, 255);
    text-shadow: 0px 1px 1px black;
    text-align: center;
    border-radius: 10px;
    border-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
    width: 150px;
    height: 100px;
}

#template-list > li > img:hover {
    background-color: #4285f4;
}

.product-list-is-live:checked + .slider {
    background-color: #30D158;
}

.product-list-is-live:focus + .slider {
    box-shadow: 0 0 1px #30D158;
}

.live-text {
    width: 30px;
    padding-bottom: 4px;
}

#vex-nav-tool button {
    margin: 5px 2px;
    border: 1px solid #ddd;
}